In [54]:
import os

# Module for reading CSV files
import csv
import pandas as pd


file_one = "../Resources/Adult_Tobacco_Consumption_In_The_U.S.__2000-Present_20231019.csv"
file_two = "../Resources/data-table.csv"


DrugFullDF = pd.read_csv(file_one, delimiter = ',' )
CancerRate = pd.read_csv(file_two, delimiter = ',' )

DrugFullDF = DrugFullDF.dropna()
CancerRate = CancerRate.dropna()

CancerRate['deaths'] = [str(x).strip(',')[-3] for x in CancerRate.iloc[:,3]]

CancerRate["deaths"] = CancerRate["deaths"].astype('int64')

CancerRate

,YEAR,STATE,RATE,DEATHS,URL,deaths
0,2021,AL,160.2,10429,/nchs/pressroom/states/alabama/al.htm,4
1,2021,AK,156.0,1093,/nchs/pressroom/states/alaska/ak.htm,0
2,2021,AZ,134.7,12813,/nchs/pressroom/states/arizona/az.htm,8
3,2021,AR,168.2,6516,/nchs/pressroom/states/arkansas/ar.htm,5
4,2021,CA,132.4,59503,/nchs/pressroom/states/california/ca.htm,5
...,...,...,...,...,...,...
445,2005,VA,190.0,"13,877",/nchs/pressroom/states/virginia/virginia.htm,8
446,2005,WA,181.0,"11,048",/nchs/pressroom/states/washington/washington.htm,0
447,2005,WV,207.4,"4,617",/nchs/pressroom/states/westvirginia/westvirgin...,6
448,2005,WI,182.8,"10,943",/nchs/pressroom/states/wisconsin/wisconsin.htm,9
449,2005,WY,169.2,886,/nchs/pressroom/states/wyoming/wyoming.htm,8

In [31]:
DrugNonCombustibleDF = DrugFullDF.loc[DrugFullDF['Topic'] == 'Noncombustible Tobacco']
DrugNonCombustibleDF.head()

,Year,LocationAbbrev,LocationDesc,Population,Topic,Measure,Submeasure,Data Value Unit,Domestic,Imports,Total,Domestic Per Capita,Imports Per Capita,Total Per Capita
0,2000,US,National,209786736,Noncombustible Tobacco,Smokeless Tobacco,Chewing Tobacco,Pounds,45502156,91965,45594121,0.217,0.000,0.217
11,2000,US,National,209786736,Noncombustible Tobacco,Smokeless Tobacco,Snuff,Pounds,66134630,17729,66152359,0.315,0.000,0.315
15,2001,US,National,212345162,Noncombustible Tobacco,Smokeless Tobacco,Chewing Tobacco,Pounds,49397524,102162,49499686,0.233,0.000,0.233
16,2001,US,National,212345162,Noncombustible Tobacco,Smokeless Tobacco,Snuff,Pounds,69804806,11675,69816481,0.329,0.000,0.329
31,2002,US,National,214754648,Noncombustible Tobacco,Smokeless Tobacco,Chewing Tobacco,Pounds,47095214,215769,47310983,0.219,0.001,0.220

In [30]:
TotalDrugNonCombustibleDF = DrugNonCombustibleDF.groupby(['Year']).sum()
TotalDrugNonCombustibleDF.head()

C:\Users\andre\AppData\Local\Temp\ipykernel_36628\798319667.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  TotalDrugNonCombustibleDF = DrugNonCombustibleDF.groupby(['Year']).sum()

,Population,Domestic,Imports,Total,Domestic Per Capita,Imports Per Capita,Total Per Capita
Year,,,,,,,
2000,419573472,111636786,109694,111746480,0.532,0.000,0.532
2001,424690324,119202330,113837,119316167,0.562,0.000,0.562
2002,429509296,118338146,225596,118563742,0.551,0.001,0.552
2003,434136202,120606782,182768,120789550,0.555,0.001,0.556
2004,439105858,120923633,225727,121149360,0.551,0.001,0.552

In [22]:
DrugFullDFYear = DrugFullDF.groupby(['Year']).sum()
DrugFullDFYear = DrugFullDFYear.drop("Population", axis='columns')
DrugFullDFYear

C:\Users\andre\AppData\Local\Temp\ipykernel_36628\981977864.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  DrugFullDFYear = DrugFullDF.groupby(['Year']).sum()

,Domestic,Imports,Total,Domestic Per Capita,Imports Per Capita,Total Per Capita
Year,,,,,,
2000,888358463835,28395244568,916753708403,4236.532,136.000,4369.532
2001,861457029370,34051515644,895508545015,4055.562,160.000,4217.562
2002,830187294069,46532488445,876719782514,3865.551,216.001,4083.552
2003,796500900664,51118156633,847619057296,3669.555,235.001,3904.556
2004,795675783622,50089679632,845765463254,3623.551,228.001,3852.552
2005,779331592972,43295937178,822627530150,3510.536,195.001,3706.538
2006,783973524627,39328490610,823302015237,3491.558,175.001,3666.560
2007,755488146048,35353467849,790841613896,3324.542,155.001,3479.544
2008,736032914347,31522700476,767555854823,3200.555,137.002,3339.557
2009,680255063590,28556407400,708811470990,2925.538,123.002,3049.540
2010,659854650156,27602770512,687457420670,2805.540,117.002,2922.542
2011,660901230942,26271496659,687172727601,2779.538,110.003,2889.540
2012,650402713583,29818755411,680221468994,2707.547,125.003,2830.552
2013,620561261914,34803986152,655365248064,2558.553,143.005,2703.558
2014,591789863045,40341508503,632131371548,2413.550,163.006,2576.556
2015,597106505849,43112497644,640219003493,2408.550,172.005,2583.557
2016,572033894544,43847379260,615881273804,2291.551,176.006,2467.557
2017,550993195339,44886165763,595879331102,2186.540,179.006,2364.546
2018,521325838867,51084165673,572401450815,2053.000,200.000,2255.071
2019,490596869039,55424283968,546021153007,1878.889,258.880,2138.768
2020,492002181107,52478098121,544480279228,1888.745,231.798,2121.542
2021,458485609115,57223261397,515708870512,1774.636,220.511,1996.144
2022,423474293380,45835359373,469309652753,1624.770,175.794,1800.563

In [28]:
CancerRate = CancerRate.groupby(['YEAR']).sum()
CancerRate

C:\Users\andre\AppData\Local\Temp\ipykernel_36628\1773116029.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  CancerRate = CancerRate.groupby(['YEAR']).sum()

        RATE
YEAR
2005  9290.5
2014  8175.8
2015  8060.0
2016  7905.6
2017  7752.1
2018  7575.7
2019  7454.8
2020  7356.4
2021  7515.0