In [11]:
import pandas as pd 
import matplotlib.pyplot as plt 

# Replacing 'Adult_Tobacco_Consumption_In_The_U.S.__2000-Present_20231019.csv' with the path to CSV file.
csv_file = '/Users/luisabarros/Project Cancer Python/Adult_Tobacco_Consumption_In_The_U.S.__2000-Present_20231019.csv'

# Use the read_csv function to read the CSV file into a DataFrame.
df_tobacco_us = pd.read_csv(csv_file)

#displaying the first few rows of the DataFrame:
df.head()

,Year,LocationAbbrev,LocationDesc,Population,Topic,Measure,Submeasure,Data Value Unit,Domestic,Imports,Total,Domestic Per Capita,Imports Per Capita,Total Per Capita
0,2000,US,National,209786736,Noncombustible Tobacco,Smokeless Tobacco,Chewing Tobacco,Pounds,45502156,91965,45594121,0.217,0.0,0.217
1,2000,US,National,209786736,Combustible Tobacco,Cigarettes,Cigarette Removals,Cigarettes,423250355675,12319663000,435570018675,2018.000,59.0,2076.000
2,2000,US,National,209786736,Combustible Tobacco,Cigars,Total Cigars,Cigars,5612867329,548243000,6161110329,27.000,3.0,29.000
3,2000,US,National,209786736,Combustible Tobacco,Loose Tobacco,Total Loose Tobacco,Cigarette Equivalents,8291276800,702741662,8994018462,40.000,3.0,43.000
4,2000,US,National,209786736,Combustible Tobacco,Loose Tobacco,Total Loose Tobacco,Pounds,16841656,1427444,18269100,0.000,0.0,0.000

In [23]:
import numpy as np

def convert_to_pounds(row):
    if isinstance(row, int):
        # Handle integer values here (e.g., assuming they are in pounds)
        return float(row)
    elif 'Cigarettes' in row:
        return float(row.split()[0]) / 600
    elif 'Cigarettes Equivalents' in row:
        return float(row.split()[0]) / 600
    elif 'Pounds' in row:
        return float(row.split()[0])
    elif 'Cigars' in row:
        return float(row.split()[0]) / 15
    else:
        return np.nan  # Set non-matching values to NaN

# Creating a new column 'Consumption_in_pounds' with the transformed values
df_tobacco_us['Consumption_in_pounds'] = df_tobacco_us['Total'].apply(convert_to_pounds)

# Change the formatting to regular numbers (no scientific notation)
df_tobacco_us['Consumption_in_pounds'] = df_tobacco_us['Consumption_in_pounds'].apply(lambda x: '{:.2f}'.format(x))

# Display the first few rows of the DataFrame with the new column
df_tobacco_us.head()

,Year,LocationAbbrev,LocationDesc,Population,Topic,Measure,Submeasure,Data Value Unit,Domestic,Imports,Total,Domestic Per Capita,Imports Per Capita,Total Per Capita,Consumption_in_pounds
0,2000,US,National,209786736,Noncombustible Tobacco,Smokeless Tobacco,Chewing Tobacco,Pounds,45502156,91965,45594121,0.217,0.0,0.217,45594121.00
1,2000,US,National,209786736,Combustible Tobacco,Cigarettes,Cigarette Removals,Cigarettes,423250355675,12319663000,435570018675,2018.000,59.0,2076.000,435570018675.00
2,2000,US,National,209786736,Combustible Tobacco,Cigars,Total Cigars,Cigars,5612867329,548243000,6161110329,27.000,3.0,29.000,6161110329.00
3,2000,US,National,209786736,Combustible Tobacco,Loose Tobacco,Total Loose Tobacco,Cigarette Equivalents,8291276800,702741662,8994018462,40.000,3.0,43.000,8994018462.00
4,2000,US,National,209786736,Combustible Tobacco,Loose Tobacco,Total Loose Tobacco,Pounds,16841656,1427444,18269100,0.000,0.0,0.000,18269100.00

In [29]:
# Creating a data frame with values from 'Consumption_in_pounds' and 'year'
Topic_Comsumption_PoundsDF = df_tobacco_us [['Consumption_in_pounds', 'Topic']]
Year_Comsumption_PoundsDF.head()

  Consumption_in_pounds                   Topic
0           45594121.00  Noncombustible Tobacco
1       435570018675.00     Combustible Tobacco
2         6161110329.00     Combustible Tobacco
3         8994018462.00     Combustible Tobacco
4           18269100.00     Combustible Tobacco

In [34]:
#Grouping the DataFrame by 'Topic' and selecting the group that is related to the value 'Noncombustible Tobacco'
noncombustible_tobacco_group = Topic_Comsumption_PoundsDF.groupby('Topic').get_group('Noncombustible Tobacco')
consumption_values_noncomb = noncombustible_tobacco_group['Consumption_in_pounds']

#creating a data frame with the values from above
consumption_values_noncombDF = pd.DataFrame(consumption_values_noncomb)
consumption_values_noncombDF.head()

   Consumption_in_pounds
0            45594121.00
11           66152359.00
15           49499686.00
16           69816481.00
31           47310983.00

In [36]:
#Grouping the DataFrame by 'Topic' and selecting the group that is related to the value 'Noncombustible Tobacco'
combustible_tobacco_group = Topic_Comsumption_PoundsDF.groupby('Topic').get_group('Combustible Tobacco')
consumption_values_comb = noncombustible_tobacco_group['Consumption_in_pounds']
#creating a data frame with the values from above
consumption_values_combDF = pd.DataFrame(consumption_values_comb)
consumption_values_combDF.head()

   Consumption_in_pounds
0            45594121.00
11           66152359.00
15           49499686.00
16           69816481.00
31           47310983.00