In [1]:
import os

# Module for reading CSV files
import csv
import pandas as pd


file_one = "../Resources/02 total-cancer-deaths-by-type.csv"
file_two = "../Resources/global air pollution dataset.csv"

PollutionFullDF = pd.read_csv(file_two, delimiter = ",")
CancerAreaDF = pd.read_csv(file_one, delimiter = ",")

PollutionFullDF = PollutionFullDF.dropna()
CancerAreaDF = CancerAreaDF.dropna()

PollutionFullDF

# Create a new DataFrame with only the desired columns
columns_to_keep = ['Country', 'AQI Value', 'AQI Category']

# Create a new DataFrame with only the desired columns
filtered_df = PollutionFullDF[columns_to_keep]
filtered_df

                        Country  AQI Value AQI Category
0            Russian Federation         51     Moderate
1                        Brazil         41         Good
2                         Italy         66     Moderate
3                        Poland         34         Good
4                        France         22         Good
...                         ...        ...          ...
23458                     India        184    Unhealthy
23459                    France         50         Good
23460                     India         50         Good
23461  United States of America         71     Moderate
23462                  Malaysia         70     Moderate

[23035 rows x 3 columns]

In [2]:
YearCancerAreaDF = CancerAreaDF.loc[(CancerAreaDF["Year"] == 2019)]
YearCancerAreaDF

,Entity,Code,Year,Deaths - Liver cancer - Sex: Both - Age: All Ages (Number),Deaths - Kidney cancer - Sex: Both - Age: All Ages (Number),Deaths - Lip and oral cavity cancer - Sex: Both - Age: All Ages (Number),"Deaths - Tracheal, bronchus, and lung cancer - Sex: Both - Age: All Ages (Number)",Deaths - Larynx cancer - Sex: Both - Age: All Ages (Number),Deaths - Gallbladder and biliary tract cancer - Sex: Both - Age: All Ages (Number),Deaths - Malignant skin melanoma - Sex: Both - Age: All Ages (Number),...,Deaths - Brain and central nervous system cancer - Sex: Both - Age: All Ages (Number),Deaths - Non-Hodgkin lymphoma - Sex: Both - Age: All Ages (Number),Deaths - Pancreatic cancer - Sex: Both - Age: All Ages (Number),Deaths - Esophageal cancer - Sex: Both - Age: All Ages (Number),Deaths - Testicular cancer - Sex: Both - Age: All Ages (Number),Deaths - Nasopharynx cancer - Sex: Both - Age: All Ages (Number),Deaths - Other pharynx cancer - Sex: Both - Age: All Ages (Number),Deaths - Colon and rectum cancer - Sex: Both - Age: All Ages (Number),Deaths - Non-melanoma skin cancer - Sex: Both - Age: All Ages (Number),Deaths - Mesothelioma - Sex: Both - Age: All Ages (Number)
29,Afghanistan,AFG,2019,1376,143,140,1492,423,285,87,...,1014,1998,319,832,17,97,55,1046,52,18
89,Albania,ALB,2019,294,98,53,1158,88,51,27,...,213,64,288,61,10,14,25,385,44,6
119,Algeria,DZA,2019,688,291,260,3291,439,1148,81,...,557,1319,1319,349,20,659,209,2384,140,17
149,American Samoa,ASM,2019,3,0,0,13,0,0,0,...,1,1,2,1,0,1,0,7,0,0
179,Andorra,AND,2019,13,5,2,48,1,4,2,...,9,8,15,5,0,0,1,34,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6539,Vietnam,VNM,2019,2387,847,3450,25161,1840,1276,242,...,1760,1985,3924,2727,129,2788,2409,15557,692,175
6629,World,OWID_WRL,2019,484577,166438,199398,2042640,123356,172441,62844,...,246253,254614,531107,498067,10842,71610,114207,1085798,56054,29251
6779,Yemen,YEM,2019,423,107,111,1336,326,193,56,...,653,291,277,551,13,60,39,833,52,9
6809,Zambia,ZMB,2019,202,126,213,717,112,77,77,...,182,369,318,975,20,118,78,791,37,20
6839,Zimbabwe,ZWE,2019,1016,68,164,1026,165,95,141,...,118,108,517,1087,12,59,45,818,44,18

In [3]:

import matplotlib.pyplot as plt

# Step 1: Aggregate the data
# Average AQI per country
average_aqi = df_aqi.groupby('Country')['AQI Value'].mean().reset_index()

# Total cancer deaths per country
df_cancer['Total Cancer Deaths'] = df_cancer.iloc[:, 3:].sum(axis=1)  # sum across all cancer types
total_cancer_deaths = df_cancer.groupby('Entity')['Total Cancer Deaths'].sum().reset_index()

# Step 2: Merge the two datasets on the country columns
merged_data = pd.merge(average_aqi, total_cancer_deaths, left_on='Country', right_on='Entity')

# Step 3: Create a scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(merged_data['AQI Value'], merged_data['Total Cancer Deaths'], color='b')
plt.title('Correlation between Air Quality Index and Total Cancer Deaths by Country')
plt.xlabel('Average AQI Value')
plt.ylabel('Total Cancer Deaths')
plt.grid(True)
plt.show()

NameError: name 'df_aqi' is not defined